/* Write your CSS code here */

.first-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sec-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 600px;
  height: 300px;
}

h1 {
  color: #00e7ff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.third-con {
  width: 90%;
  border: 2px solid #00e7ff;
  list-style-type: none;
}

.fourth-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  width: 90%;
}

.fifth-con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
  margin-right: 75px;
}

.usd {
  padding-left: 80px;
}

.coin-type {
  margin-left: 80px;
}
