/* Write your CSS code here */

.list-con {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.first-con-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.sec-con-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.img-con {
  width: 20px;
  height: 20px;
}

p {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}
